.idea
.idea/*
*.pyc
__pycache__
.DS_Store
db.sqlite3
mysql.cnf
config.py
logs
static/uploads/*
!static/uploads/index.html
static/files/*
static/downloads/*
!static/downloads/index.html
static/chunks/*
!static/chunks/index.html
requirements_lou.txt
*/migrations/*.py
!*/migrations/__init__.py
venv
venv/*
staticfiles/
*.sql
*.csv
*.log

# Ansible credentials (use .example files as templates)
ansible/group_vars/all
ansible/servers
ansible/disableroot.yml
