# Virtual alias mappings - managed by Ansible
# Format: address  destination
hello@{{ base_domain }}     john@nader.mx
support@{{ base_domain }}   john@nader.mx
contact@{{ base_domain }}   john@nader.mx
info@{{ base_domain }}      john@nader.mx
