{{ i18n.payment_recieved|default:"Payment received" }}<br>
<br>
{{ i18n.transaction_id|default:"Transaction ID" }}: {{ payment.uuid }}<br>
{{ i18n.date|default:"Date" }}: {{ payment.created_at | date }}<br>
{{ i18n.payment_id|default:"Payment ID" }}: {{ payment.id }}<br>
{{ i18n.amount|default:"Amount" }}: {{ currency_symbol }}{{ payment.amount }}<br>
{% if user.plan_subscribed %}
{{ i18n.plan|default:"Plan" }}: {{ user.plan_subscribed }}
{% endif %}
<br>
<br>
{{ i18n.team|default:"Team" }} {{ project_name }}
